{% extends "base.html" %}
{% block content %}
<h2>Quiz</h2>

<form method="POST">
{% for q in questions %}
{% set outer_loop = loop %}
<div class="card mb-3 p-3">
    <h5>Q{{ outer_loop.index }}. {{ q.question.replace("'''","") }}</h5>

    {% for opt in q.options %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="q{{ outer_loop.index0 }}" value="{{ opt[0] }}" required>
        <label class="form-check-label">{{ opt }}</label>
    </div>
    {% endfor %}
</div>
{% endfor %}

<button class="btn btn-primary">Submit Quiz</button>
</form>
{% endblock %}
